body,html {
    background-size: cover;
    background: url('./images/orangeBrushedMetalBg.jpg')no-repeat center center fixed;
    margin:0;
    padding:0;
    min-height:100%;/*to make the image
    cover properly on mobile*/
}

#modal {
    background-color: rgba(153, 254, 254, 0.5);
    display: none;
    height: 100%;
    margin:auto;
    overflow: auto;
    position: fixed;
    top:0;/*giving position:absolute to #box
    creates a small space top to the modal window;
    this makes it cover that space*/
    bottom:0;
    width: 100%;
    z-index: 1;
}

#modalP {
    color: rgba(0, 0, 0, 0.7) !important;
    font-size: 9vmin;
    text-decoration: underline;
}

#modal-content {
    -webkit-animation-duration: 0.4s;
    -webkit-animation-name: animatetop;
    background-color: #f1f1f1;
    border: 1px solid grey;
    bottom:0;
    box-shadow: 0px 1px 2px 1.5px rgba(0, 0, 0, 0.25);
    font-size: 10vmin;
    left:0;
    margin: auto;
    overflow: hidden;
    padding: 0.5vmin;
    position: absolute;
    right:0;
    top:0;
    text-align: center;
    height:29vmin;
    /*max-height:280px;*/
    width: 90%;
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

#modal-content p {
    color: darkred;
    font-family: 'Raleway', Helvetica, Arial;
    padding: 0;
}

#chooseX {
    box-shadow: 0px 1px 3px 1.5px darkgray;
    float: left;
    margin-bottom: 5px;
    margin-left: 20%;
    padding: 0 6vmin;
}

#chooseO {
    box-shadow: 0px 1px 3px 1.5px darkgray;
    float: right;
    margin-right: 20%;
    padding: 0 6vmin;
}

#chooseX:active, #chooseO:active {
    box-shadow: 0px 0px 0.5px 0.5px #a8a8a8;
}

#chooseX:hover, #chooseO:hover {
    background-color: darkred;
    cursor: pointer;
}

#chooseX:hover>p, #chooseO:hover>p {
    color: #f1f1f1;
}


/*game board*/

#box {
    border-collapse: collapse;
    bottom:0;
    display: table;
    height: 80vmin;
    left:0;
    margin:auto;
    max-height: 600px;
    max-width: 600px;
    padding: 0;
    position:absolute;
    right:0;
    text-align: center;
    top:0;
    width: 80vmin;
}

#rowA, #rowB, #rowC {
    display: table-row;
    height: 33.2%;
    /*if you don't specify a height for the rows the height gets modified when you add data to the cell (even when you add it with your JS code)*/
    width: 100%;
}

#rowA, #rowB {
    border-bottom: 1px solid white;
}

.square {
    display: table-cell;
    font-family: 'Raleway', Helvetica, Arial;
    /*  color:#C7B21A;*/
    /*  color:#f02962;*/
    /*let color for X and O be managed by js code to avoid undesired effects*/
    vertical-align: middle;
    width: 32.3%;
}

.square:hover {
    cursor: pointer;
}

#A2, #B2, #C2 {
    border-left: 1px solid white;
    border-right: 1px solid white;
}

p {
    font-size: 15vmin;
    margin: 0;
    padding-bottom: 10px;
    padding: 0;
}

h1 {
    background-color:transparent;
    color: white;
    font-family: 'Raleway', Helvetica, Arial;
    font-size:6vmin;
    text-align: center;
}
